
p {
	font-family: "verdana", sans-serif;
	color: #778899
}
.text-center {
	font-family: 'Copperplate', sans-serif;
	color: #808080;
}

.illustrations {
	font-family: 'Didot', serif;
	color: #808080
}

.photography {
	font-family: 'Didot', serif;
	color: #808080
}

